.upperBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: absolute;
  margin: auto;
  padding: 70px 136px 70px 137px;
  background-color: rgb(107, 158, 49);
  border-radius: 100px 0px;
  

  .bodyimage {
    height: 400px;
    border-radius: 120px;
  }
   

}
