.upperBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: absolute;
  margin: auto;
  padding: 7rem 13.6rem 7rem 13.7rem;
  background-color: rgb(107, 158, 49);
  border-radius: 10rem 0rem;

  .bodyimage {
    height: 25rem;
    border-radius: 5rem;
  }
}

@media all and (max-width: 500px) {
  .upperBody {
    display: flex;
    flex-flow: column;
  }

  .forms {
    padding: 2rem 0rem;
  }
}
