.blogPage {
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 100%;
}

.blogPageNews {
  background-color: #6b9e31;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}


.blogPageInfo{
  

h1{
  color: black;
  font-weight: bold;
}
}


