.blogFlex {
  padding: 20px 0px;
}

@media (max-width: 768) {
  .blogBox {
    float: none;
    margin: 5%;
    width: 90%;
    display: flex;
  }
}
.blogBox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 6%;
  padding: 30px 0px;
  width: 200px;
  border-radius: 20px;
  height: 250px;
  box-shadow: 2px 3px 40px -18px rgba(0, 0, 0, 1);
  float: left;

  .blogBoxFlags {
    display: flex;
    flex-flow: row;
    justify-items: space-between;

    img {
      width: 180px;
      border-radius: 20px;
    }
  }

  .blogBoxblogs {
    padding: 20px 3px;
    text-align: center;
    font-size: 15px;
  }
  button {
    border-style: none;
    padding: 10px;
    width: 5.4rem;
    border-radius: 20rem;
    background-color: rgb(255, 255, 255);
    color: rgb(107, 158, 49);
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgba(107, 48, 48, 0.2);
    margin: 0 auto;
    vertical-align: middle;
  }
}
