nav {
  min-height: 10vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  ul {
    border-style: none;
    list-style: none;
    display: flex;
    align-items: center;

    .button-up {
      border-style: none;
      padding: 10px;
      width: 7rem;
      border-radius: 20rem;
      background-color: rgb(107, 158, 49);
      color: rgb(255, 255, 255);
    }

    li {
      padding: 0rem 2rem;
    }
  }
}
