.blogNewsStart {
  padding: 20px 0px;
}

.blogNews {
  padding-top: 50px;
  background-color: rgb(107, 158, 49);
  border-radius: 00px 240px 240px 00px;

  .button {
    color: rgb(107, 158, 49);
    background-color: white;
    border-radius: 2rem;
    box-shadow: 3px 3px 5px 0px rgba(107, 48, 48, 0.2);
    justify-content: center;
    width: 7rem;
    font-size: 1rem;
    padding: 10px;
    margin: auto;
    display: flex;
    border: none;
  }

  .blogNewsBox {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }

  @media all and (max-width: 500px) {
    .blogNewsBox {
      display: flex;
      flex-flow: column;
    }
  }
}
