.scoreFlex {
  padding: 20px 0px;
}
.scoreBox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 30px 0px;
  width: 200px;
  border-radius: 20px;
  height: 30vh;
  box-shadow: 2px 3px 40px -18px rgba(0, 0, 0, 1);
  .scoreBoxFlags {
    display: flex;
    flex-flow: row;
    justify-items: space-between;
    align-items: center;
    margin: auto;

    .scoreBoxFlagsPer {
      width: 30px;
      padding: 0px 20px;
    }
  }

  .scoreBoxScores {
    padding: 30px 0px;
    .scoreBoxRuns {
      padding: 10px 0px;
    }

    .scoreBoxOvers {
      padding: 5px 0px;
      font-size: 10px;
    } 
  }
  button {
    border-style: none;
    padding: 10px;
    width: 5rem;
    border-radius: 20rem;
    background-color: rgb(255, 255, 255);
    color: rgb(107, 158, 49);
    box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgba(107, 48, 48, 0.2);
    margin: 0 auto;
    vertical-align: middle;
  }
}
